
.main-container{
    padding-left: 6rem;
    margin-top: 150px;
    font-size: 0.8cm;
}
.navbar-nav{
    padding-left: 26rem;
}
#hero{
    margin-top: 58px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#hero .heading{
    font-size: 2.375rem;
}
#hero .tagline p{
    font-size: 1.5rem;
}
#case-studies{
    background-color: #f9f9f9;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#case-studies .card{
    border-color: transparent;
    cursor: pointer;
}
#case-studies .card:hover{
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}
#case-studies .card-1{
    border-top-right-radius: 6rem;
}
#case-studies .card-2{
    border-bottom-right-radius: 6rem;
}
#case-studies .card-3{
    border-top-left-radius: 6rem;
}
.accordion-button{
    font-size: 1.2rem;
    font-weight: bold;
}
.accordion-button:not(.collapsed) {
    color: #2015ff;
    background-color: transparent;
}
#competency{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #f9f9f9;
}
#outcomes{
    background-color: #f9f9f9;
    padding-bottom: 6rem;
}
#testimonials{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#testimonials .logo-cloud{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
#testimonials .logo-cloud img{
    max-height: 40px;
    margin-bottom: 1.5rem;
}